body{
    background-color: #F2F8F9;
}

.firstrectingale{
    position: absolute;
    width: 400%;
    height: 11.5%;
    left: 0%;
    background: #FFFFFF;
    top: 0%;
    z-index: 0;
}

.picFont{
    font-family: 'Proxima Nova Alt Lt';
    font-style: light;
    font-weight: 200;
    font-size: 1vw;
    line-height: 27px;
    color: #458C8D;
}

#menucolor{
    color: #BB6F8B;
    user-select: none;
}

#wafleeees{
    position: absolute;
    width: 156px;
    height: 34px;
    left: 42.8%;
    top: 62.69%;
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 43px;
    color: #458C8D;
}

#shakes{
    position: absolute;
    width: 232px;
    height: 43px;
    left: 41.5%;
    top: 105%;
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 43px;
    color: #458C8D;
}

#combos{
    position: absolute;
    width: 30%;
    height: 43px;
    left: 38%;
    top: 17.8%;
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 43px;
    color: #458C8D;
}

#pic1{
    position: absolute;
    width: 13.54%;
    height: 23.98%;
    left: 20.6%;
    top: 26.5%;
}

#pic2{
    position: absolute;
    width: 13.54%;
    height: 23.98%;
    left: 40.36%;
    top: 26.5%;
}

#pic3{
    position: absolute;
    width: 13.54%;
    height: 23.98%;
    left: 60.16%;
    top: 26.5%;
}

#pic4{
    position: absolute;
    width: 13.54%;
    height: 23.98%;
    left: 20.6%;
    top: 71%;
}

#pic5{
    position: absolute;
    width: 13.54%;
    height: 23.98%;
    left: 40.36%;
    top: 71%;
}

#pic6{
    position: absolute;
    width: 13.54%;
    height: 23.98%;
    left: 60.16%;
    top: 71%;
}

#pic7{
    position: absolute;
    width: 13.54%;
    height: 23.98%;
    left: 20.6%;
    top: 114.3%;
}

#pic8{
    position: absolute;
    width: 13.54%;
    height: 23.98%;
    left: 40.36%;
    top: 114.3%;
}

#pic9{
    position: absolute;
    width: 13.54%;
    height: 23.98%;
    left: 60.16%;
    top: 114.3%;
}

#picFont1{
    position: absolute;
    width: 10%;
    height: 94px;
    left: 20.6%;
    top: 50%;
}

#picFont2{
    position: absolute;
    width: 13%;
    height: 94px;
    left: 40.4%;
    top: 50%;
}

#picFont3{
    position: absolute;
    width: 13%;
    height: 94px;
    left: 60.4%;
    top: 50%;
}

#picFont4{
    position: absolute;
    width: 13%;
    height: 94px;
    left: 20.6%;
    top: 94%;
}

#picFont5{
    position: absolute;
    width: 13%;
    height: 94px;
    left: 40.4%;
    top: 94%;
}

#picFont6{
    position: absolute;
    width: 13%;
    height: 94px;
    left: 60.4%;
    top: 94%;
}

#picFont7{
    position: absolute;
    width: 13%;
    height: 94px;
    left: 20.6%;
    top: 137.5%;
}

#picFont8{
    position: absolute;
    width: 13%;
    height: 94px;
    left: 40.4%;
    top: 137.5%;
}

#picFont9{
    position: absolute;
    width: 13%;
    height: 94px;
    left: 60.4%;
    top: 137.5%;
}

#button1{
    position: absolute;
    width: 6%;
    height: 10%;
    left: 50%;
    top: 50%;
}

#popupMenu {
    display: none;
    box-sizing: border-box;
    position: absolute;
    width: 17%;
    height: 15%;
    left: 79%;
    top: 17%;
    background: #EFE9EB;
    border: 1px solid #BB6F8B;
    border-radius: 10px;
    z-index: 1;
  }

#menuBtn{
    z-index: 1;
    outline: none;
    border: 0;
    background: transparent;
    left: 30%;
    position: absolute;
    width: 6%;
    height: 10%;
    top: 50%;
    display: none;
}

#menuBtn2{
    z-index: 1;
    outline: none;
    border: 0;
    background: transparent;
    left: 50%;
    position: absolute;
    width: 6%;
    height: 10%;
    top: 50%;
    display: none;

}

#cartpink{ 
    display: none;
    position: absolute;
    width: 4%;
    height: 7.59%;
    left: 93%;
    top: 2%;
}

.listnonedot{
    list-style: none;
}

#popupMenu span {
    font-family: 'Proxima Nova Alt Lt';
    font-style: light;
    font-weight: 200;
    font-size: 0.9vw;
    line-height: 27px;
    color: #BB6F8B;
    width: 65%;
    display: inline-block;
  }











  @media screen and (max-width: 1366px) {
    #pic1{
        position: absolute;
        width: 17%;
        height: 23.98%;
        left: 15%;
        top: 26.5%;
    }
    
    #pic2{
        position: absolute;
        width: 17%;
        height: 23.98%;
        left: 40.36%;
        top: 26.5%;
    }
    
    #pic3{
        position: absolute;
        width: 17%;
        height: 23.98%;
        left: 65%;
        top: 26.5%;
    }
    
    #pic4{
        position: absolute;
        width: 17%;
        height: 23.98%;
        left: 15%;
        top: 71%;
    }
    
    #pic5{
        position: absolute;
        width: 17%;
        height: 23.98%;
        left: 40.36%;
        top: 71%;
    }
    
    #pic6{
        position: absolute;
        width: 17%;
        height: 23.98%;
        left: 65%;
        top: 71%;
    }
    
    #pic7{
        position: absolute;
        width: 17%;
        height: 23.98%;
        left: 15%;
        top: 114.3%;
    }
    
    #pic8{
        position: absolute;
        width: 17%;
        height: 23.98%;
        left: 40.36%;
        top: 114.3%;
    }
    
    #pic9{
        position: absolute;
        width: 17%;
        height: 23.98%;
        left: 65%;
        top: 114.3%;
    }

    .picFont{
        font-family: 'Proxima Nova Alt Lt';
        font-style: light;
        font-weight: 200;
        font-size: 1.3vw;
        line-height: 27px;
        color: #458C8D;
    }

    #picFont1{
        position: absolute;
        width: 15%;
        height: 94px;
        left: 15%;
        top: 50%;
    }
    
    #picFont2{
        position: absolute;
        width: 16%;
        height: 94px;
        left: 40.4%;
        top: 50%;
    }
    
    #picFont3{
        position: absolute;
        width: 13%;
        height: 94px;
        left: 65%;
        top: 50%;
    }
    
    #picFont4{
        position: absolute;
        width: 13%;
        height: 94px;
        left: 15%;
        top: 94%;
    }
    
    #picFont5{
        position: absolute;
        width: 13%;
        height: 94px;
        left: 40.4%;
        top: 94%;
    }
    
    #picFont6{
        position: absolute;
        width: 13%;
        height: 94px;
        left: 65%;
        top: 94%;
    }
    
    #picFont7{
        position: absolute;
        width: 13%;
        height: 94px;
        left: 15%;
        top: 137.5%;
    }
    
    #picFont8{
        position: absolute;
        width: 13%;
        height: 94px;
        left: 40.4%;
        top: 137.5%;
    }
    
    #picFont9{
        position: absolute;
        width: 13%;
        height: 94px;
        left: 65%;
        top: 137.5%;
    }
  }

  @media screen and (max-width: 820px) and (max-height: 1180px) {
    #combos{
        position: absolute;
        width: 50%;
        height: 43px;
        left: 30%;
        top: 17.8%;
    }

    #wafleeees{
        position: absolute;
        width: 156px;
        height: 34px;
        left: 39%;
        top: 95%;
        font-family: 'Proxima Nova';
        font-style: normal;
        font-weight: 700;
        font-size: 35px;
        line-height: 43px;
        color: #458C8D;
    }

    #shakes{
        position: absolute;
        width: 232px;
        height: 43px;
        left: 35.4%;
        top: 169.5%;
        font-family: 'Proxima Nova';
        font-style: normal;
        font-weight: 700;
        font-size: 35px;
        line-height: 43px;
        color: #458C8D;
    }

    #pic1{
        position: absolute;
        width: 35%;
        height: 23.98%;
        left: 8%;
        top: 26.5%;
    }
    
    #pic2{
        position: absolute;
        width: 35%;
        height: 23.98%;
        left: 58%;
        top: 26.5%;
    }
    
    #pic3{
        position: absolute;
        width: 35%;
        height: 23.98%;
        left: 32.5%;
        top: 60%;
    }
    
    #pic4{
        position: absolute;
        width: 35%;
        height: 23.98%;
        left: 8%;
        top: 102.5%;
    }
    
    #pic5{
        position: absolute;
        width: 35%;
        height: 23.98%;
        left: 58%;
        top: 102.5%;
    }
    
    #pic6{
        position: absolute;
        width: 35%;
        height: 23.98%;
        left: 32.5%;
        top: 135%;
    }
    
    #pic7{
        position: absolute;
        width: 35%;
        height: 23.98%;
        left: 8%;
        top: 177%;
    }
    
    #pic8{
        position: absolute;
        width: 35%;
        height: 23.98%;
        left: 58%;
        top: 177%;
    }
    
    #pic9{
        position: absolute;
        width: 35%;
        height: 23.98%;
        left: 32.5%;
        top: 210.5%;
    }

    .picFont{
        font-family: 'Proxima Nova Alt Lt';
        font-style: light;
        font-weight: 200;
        font-size: 3vw;
        line-height: 27px;
        color: #458C8D;
    }
    #picFont1{
        position: absolute;
        width: 30%;
        height: 94px;
        left: 8%;
        top: 50%;
    }
    
    #picFont2{
        position: absolute;
        width: 33%;
        height: 94px;
        left: 58%;
        top: 50%;
    }
    
    #picFont3{
        position: absolute;
        width: 35%;
        height: 94px;
        left: 32.5%;
        top: 83.5%;
    }
    
    #picFont4{
        position: absolute;
        width: 30%;
        height: 94px;
        left: 8%;
        top: 125.5%;
    }
    
    #picFont5{
        position: absolute;
        width: 35%;
        height: 94px;
        left: 58%;
        top: 125.5%;
    }
    
    #picFont6{
        position: absolute;
        width: 20%;
        height: 94px;
        left: 32.5%;
        top: 158%;
    }
    
    #picFont7{
        position: absolute;
        width: 30%;
        height: 94px;
        left: 8%;
        top: 200%;
    }
    
    #picFont8{
        position: absolute;
        width: 30%;
        height: 94px;
        left: 58%;
        top: 200%;
    }
    
    #picFont9{
        position: absolute;
        width: 30%;
        height: 94px;
        left: 32.5%;
        top: 233.5%;
    }

  }


  @media screen and (max-width: 414px) and (max-height: 896px) {
    #combos{
        position: absolute;
        width: 70%;
        height: 43px;
        left: 15.6%;
        top: 17.8%;
        font-size: 7.5vw;
    }

    #wafleeees{
        position: absolute;
        width: 156px;
        height: 34px;
        left: 32.5%;
        top: 135%;
        font-family: 'Proxima Nova';
        font-style: normal;
        font-weight: 700;
        font-size: 7.5vw;
        line-height: 43px;
        color: #458C8D;
    }

    #shakes{
        position: absolute;
        width: 232px;
        height: 43px;
        left: 27%;
        top: 252.2%;
        font-family: 'Proxima Nova';
        font-style: normal;
        font-weight: 700;
        font-size: 7.5vw;
        line-height: 43px;
        color: #458C8D;
    }

    #pic1{
        position: absolute;
        width: 50%;
        height: 23.98%;
        left: 25%;
        top: 26.5%;
    }
    
    #pic2{
        position: absolute;
        width: 50%;
        height: 23.98%;
        left: 25%;
        top: 60%;
    }
    
    #pic3{
        position: absolute;
        width: 50%;
        height: 23.98%;
        left: 25%;
        top: 96.02%;
    }
    
    #pic4{
        position: absolute;
        width: 50%;
        height: 23.98%;
        left: 25%;
        top: 144%;
    }
    
    #pic5{
        position: absolute;
        width: 50%;
        height: 23.98%;
        left: 25%;
        top: 180.02%;
    }
    
    #pic6{
        position: absolute;
        width: 50%;
        height: 23.98%;
        left: 25%;
        top: 216.04%;
    }
    
    #pic7{
        position: absolute;
        width: 50%;
        height: 23.98%;
        left: 25%;
        top: 261%;
    }
    
    #pic8{
        position: absolute;
        width: 50%;
        height: 23.98%;
        left: 25%;
        top: 297.02%;
    }
    
    #pic9{
        position: absolute;
        width: 50%;
        height: 23.98%;
        left: 25%;
        top: 333.04%;
    }

    .picFont{
        font-family: 'Proxima Nova Alt Lt';
        font-style: light;
        font-weight: 200;
        font-size: 4svw;
        line-height: 27px;
        color: #458C8D;
    }
    #picFont1{
        position: absolute;
        width: 50%;
        height: 94px;
        left: 25%;
        top: 50%;
    }
    
    #picFont2{
        position: absolute;
        width: 50%;
        height: 94px;
        left: 25%;
        top: 83.5%;
    }
    
    #picFont3{
        position: absolute;
        width: 35%;
        height: 94px;
        left: 25%;
        top: 119.8%;
    }
    
    #picFont4{
        position: absolute;
        width: 30%;
        height: 94px;
        left: 25%;
        top: 167.8%;
    }
    
    #picFont5{
        position: absolute;
        width: 35%;
        height: 94px;
        left: 25%;
        top: 203.5%;
    }
    
    #picFont6{
        position: absolute;
        width: 30%;
        height: 94px;
        left: 25%;
        top: 240%;
    }
    
    #picFont7{
        position: absolute;
        width: 40%;
        height: 94px;
        left:25%;
        top: 285%;
    }
    
    #picFont8{
        position: absolute;
        width: 40%;
        height: 94px;
        left: 25%;
        top: 320%;
    }
    
    #picFont9{
        position: absolute;
        width: 40%;
        height: 94px;
        left: 25%;
        top: 357%;
    }

  }